<div class="container">
  <h2>Listado de Entidades</h2>
  <button class="btn-primary" (click)="irACrear()">+ Nueva Entidad</button>
  <button class="btn-secundary" (click)="irEmpleados()">Ir a Empleados</button>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entidad of entidades">
        <td>{{ entidad.id }}</td>
        <td>{{ entidad.nombre }}</td>
        <td>{{ entidad.descripcion }}</td>
        <td>
          <button class="btn-info" (click)="irADetalle(entidad.id)">Detalle</button>
          <button class="btn-edit" (click)="irAEditar(entidad.id)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn-danger" (click)="eliminarEntidad(entidad.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
